body{

font-family:'Segoe UI',sans-serif;
margin:0;
text-align:center;

background:linear-gradient(135deg,#1e3c72,#2a5298);

color:white;

}

h1{

margin-top:40px;
font-size:42px;

}

.mode-selector{

display:flex;
justify-content:center;
gap:15px;

margin-top:20px;
margin-bottom:40px;

}

.mode-btn{

padding:12px 25px;

font-size:16px;
border:none;

border-radius:30px;

cursor:pointer;

background:rgba(255,255,255,0.2);
color:white;

transition:0.3s;

}

.mode-btn:hover{

background:white;
color:#2a5298;

}

.mode-btn.active{

background:white;
color:#2a5298;
font-weight:bold;

}

.container{

display:grid;
grid-template-columns:repeat(auto-fit,260px);
justify-content:center;

gap:40px;
padding:20px;

}

.clock-box{

background:rgba(255,255,255,0.9);
color:black;

padding:25px;

border-radius:20px;

box-shadow:0 15px 30px rgba(0,0,0,0.3);

}

.time{

font-size:26px;
font-weight:bold;

margin:10px 0;

}

canvas{

margin-top:15px;

background:white;

border-radius:50%;

border:6px solid #2c3e50;

box-shadow:
0 0 15px rgba(0,0,0,0.3),
inset 0 0 10px rgba(0,0,0,0.2);

}